@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #1e3a8a; 
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #1e3a8a; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2563eb; 
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #1e3a8a; 
    text-decoration: none;
    font-size: 14px;
}

a:hover {
      color: #ffac11;
}
